h1 {
    font-family: sans-serif;
}

#open-sans {
    font-family: 'Open Sans', sans-serif;
}

#space-mono {
    font-family: 'Space Mono', sans-serif;
}

#roboto {
    font-family: 'Roboto', sans-serif;
}

#noto-sans-japanese {
    font-family: 'Noto Sans Japanese', sans-serif;
}